* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
}

body{
    position: relative;
    height: 100vh;
}
header{    
    display: table;
    width: 100%;
    background-color: cadetblue;
    height: 10vh;    text-align: center;
    vertical-align: middle;
}
header h1{
    display: block;
    text-align: center;
    width: 100%;height: 64px;
    font-size: 3rem;
    line-height: 64px;
    color: white;
    font-weight: bold;
}

main{
    width: 100%;height: auto;
    min-height: 80vh;
    padding: 5vh 5vh;
}

.title{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0;
}
h2{
    margin: 0;
    padding-left: 5px;
    font-size: 24px;
    line-height: 30px;
}

h2 a {    
    color: black;
    text-decoration: none;
}


.logo img {
    width: 40px;
    height: 40px;
}

.content{
    width: 100%;height: auto;
    min-height: 250px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}
.content>.navegacion{
    width: 48%;
    height: auto;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.barraVertical{
    height: auto;
    min-height: 100%;
    border: 1px solid lightgrey;
    margin-right: 2%;
    margin-left: 2%;
    border-collapse: collapse;
}
.content>form{
    margin: 0;
}

/* Navegación inicio */
.contenedorInicio{
    height: 100%;max-height: 100%;
    width: 370px;max-width: 100%;
    padding: 20px 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.iconoNavegacion{
    width: 150px;height: 150px;
    border: 1px solid grey;
    border-radius: 3px;
}
.iconoNavegacion button{
    width: 100%;height: 100%;
    position: static;
}
.iconoNavegacion button img{
    height: 100%;
}
/* Mapa de navegación */
.contenedorNav{
    border: 1px solid grey;
    border-radius: 3px;
    height: 100%;max-height: 100%;
    width: 400px;max-width: 100%;
}
.imagenesNav{
    position: relative;
    height: 80%;
}
.fotoNav{
    position: relative;
    height: 100%;
    width: 100%;
    display: none;
    overflow:hidden;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}
.fotoNav img{
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    opacity: 40%;
}
.fotoNav p{
    width: 80%;
    text-align: center;
    position: relative;
    font-weight: bold;
    font-size: 1.2rem;
    z-index: 3;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -32px;
  padding:  16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: black;
  color: white;
}
.puntos{
    text-align: center;
}
.punto {
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin: 20px 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .punto:hover {
  background-color: #717171;
}

form{
    width: 400px;height: auto;
    margin: auto;
    padding: 20px;
}
fieldset{
    width: auto;height: auto;
    min-height: 250px;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 3px;
}
fieldset div h2{
    width: 100%;height: auto;
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 20px;
}
label{
    font-size: 16px;
    line-height: 16px;
}

.idiomas{
    padding-top: 8px;
}
.idiomas *{
    background-color: white;
    border: 0;
    cursor: pointer;
    margin: 0 4px;
}

input{
    width: 100%;
    margin: 5px 0 10px 0;
    padding: 2px;
    border: 1px solid grey;
    border-radius: 3px;
   
}
.readonly {
    border: 0;
}
.readonly:focus{
    box-shadow: 0;
}
input:focus{
    box-shadow: 0 0 6px lightskyblue;
}
fieldset div span{
    width: 100%;
    font-size: 14px;
    color: red;
}
.enviar{
    height: 29px;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
    border: 1px solid cadetblue;
    background-color: lightskyblue;
    color: white;
    font-weight: bold;
    
}
.enviar:hover{
    background-color: cadetblue;
}

.crearCuenta{
    padding: 0 20px;
}
.crearCuenta p{
    text-align: center;
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 0;
    color: grey;
    margin-top: 20px;
}
.crearCuenta input{
    margin-top: 15px;
    color: cadetblue;
    background-color: white;
}
.crearCuenta input:hover{
    color: white;
    background-color: cadetblue;
}

footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 10vh;
    padding: 5px;
    margin-bottom: 0;
    background-color: #191919;
    color: #fff;
	
	
}
.enlaces{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: 40px;
    vertical-align: middle;
}
.enlaces *{
    height: 40px;
}
.enlaces a{
    margin-right: 40px;
}
.nombre{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}
.nombre h3{
    height: 100%;
    line-height: 100%;
    margin-left: 20px;
    font-size: 1rem;
    font-weight: 600;
}
p{
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 10px;
}


/* ---------------------------------------------------------- */

button{
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
}
.flecha{
    position: sticky;
    margin-left: 8px;
    margin-top: 15px;
    top: 15px;
}
.container{
    position: relative;
    width: 1000px;
    height: auto;
    margin: auto;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.20);
}
.container header{
    min-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: white;
}

.navegadorAPIs{
    width: 100%;height: auto;
    padding: 20px;
    border-bottom: 5px solid cadetblue;
}
.navegadorAPIs ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.navegadorAPIs li{
    margin-right: 20px;
}
.navegadorAPIs a:hover{
    border-bottom: 2px solid blue;
}
.navegadorAPIs li a{
    text-decoration: none;
    font-weight: bold;
}
.webService{
    height: 450px;
    width: 100%;
    border-bottom: 5px solid cadetblue;
}
.apiRequest{
    margin: 0;
    margin-right: auto;
    width: 50%;
    height: 100%;
   
    float: left;
}
.apiRequest form{
    padding-top: 50px;
}
.servicio-rest{
    margin: 1% 0;
    margin-left: auto;
    width: 50%;
    height: 95%;
    float: left;
    overflow: auto;
}
.APOD p:nth-child(1){
    font-size: 1.3rem;
    font-weight: 600;
}
.APOD p:nth-child(3){
    font-size: 1rem;
}
.APOD img{
    height: 200px;
    width: auto;max-width: 100%;
    margin: 20px;
}

.publicApi h2{
    position: sticky;
    top: 0;
    background: white;
    font-size: 1.5rem;
    margin-bottom: 3px;
}
.publicApi div{
    height: auto;width: auto;
    padding: 10px;
    border-bottom: 1px solid grey;
}

.apiDepartamentos div{
    height: auto;width: auto;
    padding: 10px;
    border-bottom: 1px solid grey;
}
.apiDepartamentos h2{
    font-size: 1.5rem;
    padding: 0;
    margin-bottom: 3px;
}
.apiDepartamentos h3{
    font-size: 1rem;
}
.servicioCalculadora{
    
}
.apiInfo{
    margin: auto;
    padding: 20px;
}
.apiInfo *{
    float: left;
}
.apiInfo a{
    left: 5px;
}